<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.104.2" targetFramework="net481" />
  <package id="ClosedXML.Parser" version="1.2.0" targetFramework="net481" />
  <package id="ClosedXML.Report" version="0.2.11" targetFramework="net481" />
  <package id="Costura.Fody" version="6.0.0" targetFramework="net481" developmentDependency="true" />
  <package id="DocumentFormat.OpenXml" version="3.1.1" targetFramework="net481" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.1.1" targetFramework="net481" />
  <package id="EPPlus" version="8.0.3" targetFramework="net481" />
  <package id="EPPlus.Interfaces" version="8.0.0" targetFramework="net481" />
  <package id="ExcelNumberFormat" version="1.1.0" targetFramework="net481" />
  <package id="Fody" version="6.8.2" targetFramework="net481" developmentDependency="true" />
  <package id="ILMerge" version="3.0.41" targetFramework="net481" />
  <package id="MathNet.Numerics" version="5.0.0" targetFramework="net481" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net481" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net481" />
  <package id="Microsoft.Data.Sqlite" version="9.0.4" targetFramework="net481" />
  <package id="Microsoft.Data.Sqlite.Core" version="9.0.4" targetFramework="net481" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="3.0.1" targetFramework="net481" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies" version="1.0.3" targetFramework="net481" developmentDependency="true" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies.net48" version="1.0.3" targetFramework="net481" developmentDependency="true" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies.net481" version="1.0.3" targetFramework="net481" developmentDependency="true" />
  <package id="morelinq" version="4.4.0" targetFramework="net481" />
  <package id="OxyPlot.Core" version="2.2.0" targetFramework="net481" />
  <package id="OxyPlot.WindowsForms" version="2.2.0" targetFramework="net481" />
  <package id="RBush" version="4.0.0" targetFramework="net481" />
  <package id="SixLabors.Fonts" version="1.0.0" targetFramework="net481" />
  <package id="SQLitePCLRaw.bundle_e_sqlite3" version="2.1.11" targetFramework="net481" />
  <package id="SQLitePCLRaw.bundle_winsqlite3" version="2.1.11" targetFramework="net481" />
  <package id="SQLitePCLRaw.core" version="2.1.11" targetFramework="net481" />
  <package id="SQLitePCLRaw.lib.e_sqlite3" version="2.1.11" targetFramework="net481" />
  <package id="SQLitePCLRaw.provider.dynamic_cdecl" version="2.1.11" targetFramework="net481" />
  <package id="SQLitePCLRaw.provider.winsqlite3" version="2.1.11" targetFramework="net481" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net481" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net481" />
  <package id="System.Linq.Dynamic.Core" version="1.6.0.2" targetFramework="net481" />
  <package id="System.Memory" version="4.6.3" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net481" />
  <package id="System.Security.Cryptography.Xml" version="8.0.2" targetFramework="net481" />
</packages>